*{
    margin: 0;
}
.parent{
    display: inline-block;
    background-color: black;
    width: 300px;
    height: 300px;
    padding: 30px;
    margin: 50px;
}
.content{
    background-color: burlywood;
    width: 300px;
    height: 300px;
}
button{
    margin-left: 50%;
    background-color: green;
    border: 2px solid green;
    font-weight: bold;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 10px;
}

button:hover{
    background-color: indigo;
}
button:focus{
    background-color: black;
}
button:disabled{
    cursor: not-allowed;
    opacity: 0.3;
}